.nav-body{
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.nav-action{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.nav-action h2{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-dropdown{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.dropdown-img{
    max-width: 100%;
    height: 1rem;
    cursor: pointer;
}
.nav-body h4{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: red;
    margin-top: 0px;
    padding-top: 0px;
    position: relative;
    margin-top: -50px;
    font-weight: 600;
    cursor: pointer;
}
.avatar-img{
    width: max-content;
    height: 2rem;
}